:root {
  color-scheme: light dark;

  --color-light: #d5e9ff;
  --color-dark: #001a33;
  --color-orange-light: #ff764f;
  --color-orange-dark: #f55e33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: light-dark(var(--color-dark), var(--color-light));
  color: light-dark(var(--color-light), var(--color-dark));
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
}

#content {
  background-color: light-dark(var(--color-light), var(--color-dark));
  color: light-dark(var(--color-dark), var(--color-light));
  width: 100%;
  flex-grow: 1;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem 0;
}

header,
main {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 650px) {
  header,
  main {
    width: 95%;
  }
}

#wip {
  background-color: light-dark(var(--color-dark), var(--color-light));
  color: light-dark(var(--color-light), var(--color-dark));
  margin: 1rem 0;
  text-align: center;
  padding: 1rem .5rem;
  border: solid .25rem light-dark(var(--color-orange-light), var(--color-orange-dark));
  border-radius: 1rem;
}

header img {
  display: block;
  max-height: 25vh;
  max-width: 100%;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  #dark-logo {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  #light-logo {
    display: none;
  }
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

h2 {
  margin: 1rem 0 0;
}

a {
  font-weight: bold;
  text-decoration: solid underline .25rem light-dark(var(--color-orange-dark), var(--color-orange-light));
  transition: text-decoration-thickness .5s;
  margin: 0 .25rem;
}

a:hover {
  text-decoration-thickness: .5rem;
}

a:focus {
  text-decoration: none;
  outline: solid .25rem light-dark(var(--color-orange-dark), var(--color-orange-light));
  outline-offset: .1rem;
  border-radius: .1rem;
}

#content p {
  margin: .5rem 0 0 2.5rem;
}

@media (max-width: 650px) {
  #content p {
    margin-left: 1.25rem;
  }
}

#artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.artist {
  margin: .5rem 0 0 1.25rem;
}

.artist img {
  max-height: 35vh;
  max-width: 100%;
  border-radius: 1rem;
}

@media (max-width: 650px) {
  .artist {
    margin-left: .625rem;
  }

  .artist img {
    max-width: 100%;
  }
}

.artist h3 {
  text-align: center;
}

footer {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 1rem;
}

footer p {
  text-align: center;
  margin: 1rem 0 0;
}

footer a {
  color: light-dark(var(--color-light), var(--color-dark));
  text-decoration-color: light-dark(var(--color-orange-light), var(--color-orange-dark));
}

footer a:focus {
  outline-color: light-dark(var(--color-orange-light), var(--color-orange-dark));
}

#contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin: 0 0 1rem;
}
