:root {
  color-scheme: light dark;

  --color-light: #d5e9ff;
  --color-light-alt: #beddff;
  --color-dark: #001a33;
  --color-dark-alt: #00274b;
  --color-orange-light: #ff764f;
  --color-orange-dark: #f55e33;

  --color-bg: light-dark(var(--color-light), var(--color-dark));
  --color-text: light-dark(var(--color-dark), var(--color-light));
  --color-alt: light-dark(var(--color-light-alt), var(--color-dark-alt));
  --color-accent: light-dark(var(--color-orange-dark), var(--color-orange-light));
  --color-accent-flipped: light-dark(var(--color-orange-light), var(--color-orange-dark));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-text);
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
}

#content {
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  flex-grow: 1;
  border-radius: 0 0 2rem 2rem;
  padding-top: 2rem;
}

header,
main {
  width: 65%;
  margin: 0 auto;
}

@media (max-width: 650px) {
  header,
  main {
    width: 95%;
  }
}

@media (min-width: 1800px) {
  header,
  main {
    width: 45%;
  }
}

img {
  display: block;
}

header img {
  max-height: 25vh;
  max-width: 100%;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  #logo-dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  #logo-light {
    display: none;
  }
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

h2 {
  margin: 2rem 0 0;
}

h2,
h3 {
  border-bottom: .25rem solid var(--color-accent);
}

a {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: .25rem;
  text-decoration-color: var(--color-accent);
  transition: text-decoration-thickness .5s;
  margin: 0 .25rem;
}

a:hover,
a:active {
  text-decoration-thickness: .5rem;
}

a:focus {
  text-decoration: none;
  outline: solid .25rem var(--color-accent);
  outline-offset: .1rem;
  border-radius: .1rem;
}

p {
  background-color: var(--color-alt);
  color: var(--color-text);
  padding: .5rem;
  border-radius: 0 0 1rem 1rem;
}

main > p {
  margin-left: 2.5rem;
}

@media (max-width: 650px) {
  main > p {
    margin-left: 1.25rem;
  }
}

footer {
  width: 95%;
  margin: 0 auto;
  padding: 0 0 1rem;
}

footer p {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-align: center;
  margin: 1rem 0 0;
}

footer a {
  color: var(--color-bg);
  text-decoration-color: var(--color-accent-flipped);
}

footer a:focus {
  outline-color: var(--color-accent-flipped);
}

#contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 3rem;
  margin: 0 0 1rem;
}
