:root {
  color-scheme: light dark;

  --color-light: #e5e0c7;
  --color-light-alt: #d1cbab;
  --color-dark: #142B15;
  --color-dark-alt: #1a3b1b;
  --color-accent-light: #4ba19e;
  --color-accent-dark: #0c6a74;

  --color-bg: light-dark(var(--color-light), var(--color-dark));
  --color-text: light-dark(var(--color-dark), var(--color-light));
  --color-bg-alt: light-dark(var(--color-light-alt), var(--color-dark-alt));
  --color-text-alt: light-dark(var(--color-dark-alt), var(--color-light-alt));
  --color-accent: light-dark(var(--color-accent-dark), var(--color-accent-light));
  --color-accent-flipped: light-dark(var(--color-accent-light), var(--color-accent-dark));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-text);
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  min-height: 100vh;
}

#content {
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100%;
  flex-grow: 1;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem 0 2rem;
}

@media (prefers-color-scheme: light) {
  .dark-mode {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .light-mode {
    display: none;
  }
}

header,
main {
  width: 65%;
  margin: 0 auto 1rem;
}

@media (max-width: 650px) {
  header,
  main {
    width: 95%;
  }
}

@media (min-width: 2000px) {
  header,
  main {
    width: 45%;
  }
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-alt);
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

h2 {
  margin: 2rem 0 0;
}

h2,
h3 {
  border-bottom: .25rem solid var(--color-accent);
}

a {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: .25rem;
  text-decoration-color: var(--color-accent);
  transition: text-decoration-thickness .5s;
  margin: 0 .25rem;
  border-radius: .1rem;
  outline-offset: .1rem;
}

a:hover,
a:active {
  text-decoration-thickness: .5rem;
}

a:focus-visible {
  text-decoration: none;
  outline: solid .25rem var(--color-accent);
}

main p,
main ul {
  padding: .8rem;
  background-color: var(--color-bg-alt);
  border-radius: 0 0 1rem 1rem;
  line-height: 1.5rem;
}

main > p,
main > ul {
  margin-left: 2.5rem;
}

@media (max-width: 650px) {
  main > p,
  main > ul {
    margin-left: 1.25rem;
  }
}

main li {
  margin-left: 1rem;
}

main li:not(:last-child) {
  padding: 0 0 .5rem;
}
