/* top nav */
nav {
  position: relative;
  margin: 0 auto 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

nav a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 .25rem;
  border: solid thin var(--color-accent);
  border-radius: .25rem;
  outline-offset: .1rem;
}

@media (any-hover: hover) {
  nav a:hover {
    color: var(--color-bg);
    background-color: var(--color-text);
    border-color: var(--color-text);
  }
}

nav a:focus-visible {
  outline: solid .25rem var(--color-accent);
}

#skip {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -99;
  background-color: var(--color-bg);
}

#skip:focus-visible {
	left: -6rem;
	width: auto;
	height: auto;
	overflow: auto;
	z-index: 999;
}

@media (max-width: 650px) {
  #skip:focus-visible {
    left: 6rem;
  }
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  align-items: flex-end;
}

@media (max-width: 450px) {
  nav ul {
    flex-flow: column nowrap;
  }
}

nav li {
  list-style: none;
}

/* this specifically handles the home button
we want it taking up flex container space */
nav > #current-page {
  visibility: hidden;
}

header img {
  max-height: 25vh;
  max-width: 100%;
  margin: 0 auto;
}

/* footer */
footer {
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

footer p {
  background-color: var(--color-text);
  color: var(--color-bg);
  text-align: center;
  font-size: .9rem;
  padding: .25rem;
}

footer a {
  color: var(--color-bg);
  text-decoration-color: var(--color-accent-flipped);
}

footer a:focus-visible {
  outline-color: var(--color-accent-flipped);
}
