#events {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media (max-width: 850px) {
  #events {
    grid-template-columns: 1fr;
  }
}

#events li {
  list-style: none;
  border: solid thin var(--color-accent);
  border-radius: .5rem;
  outline-offset: .1rem;
}

@media (any-hover: hover) {
  #events li:hover {
    outline: solid .25rem var(--color-accent);
  }
}

#events li:focus-within {
  outline: solid .25rem var(--color-accent);
}

#events a {
  text-decoration: none;
  margin: 0;
}

#events a:focus-visible {
  outline: none; /* outline handled by li:focus-within */
}

#events h2 {
  text-align: center;
  margin-top: 1rem;
}

#events img {
  margin: 0;
  border-radius: 0 0 .5rem .5rem;
}
